/**
 * Component: home-links
 * -------------------------------------------------------------------------- */

a.lumen {
  border-color: var(--vp-button-alt-border);
  background-color: var(--vp-button-alt-bg);
  color: var(--vp-button-alt-text);
  font-size: 16px;
  line-height: 46px;
  text-align: center;
}

a.lumen:hover {
  border-color: var(--vp-button-alt-hover-border);
  background-color: var(--vp-button-alt-hover-bg);
  color: var(--vp-button-alt-hover-text);
}

a.lumen:active {
  border-color: var(--vp-button-alt-active-border);
  background-color: var(--vp-button-alt-active-bg);
  color: var(--vp-button-alt-active-text);
}

a.lumen.theo::before {
  display: inline-block;
  transform: translateY(7px);
  margin-right: 0.5em;
  background-image: url('https://i.theojs.cn/avatar.png');
  background-position: bottom;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
}

@keyframes ping {
  15%,
  to {
    transform: scale(1.25, 2);
    opacity: 0;
  }
}

@media (max-width: 420px) {
  a.lumen.theo {
    display: block;
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom: 10px;
    max-width: 320px;
    line-height: 1.5em;
    white-space: normal;
  }
}
